#art {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: x-small;
	padding-left: 0px;
	text-align: justify;
	text-indent: 32px;
	color: #000000;
}
td.t1	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: xx-small;
	width:"253";
	height:14;
	vertical-align:center;
}
td.t2	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: xx-small;
	width:"321";
	height:14;
	vertical-align:center;
}
ul 	{
	text-indent: 32px;
	list-style: none;
	margin: 0; padding: 0;
}
li 	{
	text-indent: 32px;
	border-bottom: none;
	margin-top: -3px;
}